
.contenedor{
    display: flex;
    width:98%;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-style: double;
    border-color: black;
    background: paleturquoise;
}
#formulario{
    padding: 2%;
    

}
table{
    table-layout: auto;
    width: auto;
    margin-left: 200px;
     
  
  
}
#formulario tr td div p{
    text-align: justify;
}
#formulario tr td div{
    text-align: center;
    margin-left: 10px;
    margin-top: 10px; 
    position: relative;
}

#formulario tr td div input{
    
     border: 2px solid green;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    width: 150px;
    
}

#formulario tr td div select{
    
     border: 2px solid green;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    
}
#formulario tr td div textarea{
    
     border: 2px solid green;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
}
#formulario tr td div a{
    
     border: 2px solid green;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    text-align: center;
    text-decoration: none;
    background:white;
    
}

