#mensajeria{
    padding: 5%;
    


}
#mensajeria h1{
    text-align:left;
    font-size: 20px;
    display: flex;
}
#mensajeria h1 img{
    width: 50px;
    height: 50px;
}

#mensajeria p{
    text-align: justify;
    width: 800px;
    height: auto;

}
.contenedor{
    display: flex;
    width: 950px;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: double;
    border-color: black;
    position: relative;
}

 #mensajeria .cart_mensajeria{
    margin-top: 10px;
    margin-left: 28px;
    width: 930px;
    height: auto;
    position: relative;
    
    
    
}
#mensajeria .cart_mensajeria .cuerpo {
    width: 800px;
    height: 230px;
    background: #9c9c9c;
    border: 1px solid #000000;
    margin-top: 20px;
}


#mensajeria .cart_mensajeria .cuerpo .seccion_izquierda{
    float: left;
    width: 200px;
    height: 210px;
    margin-top: 10px;
    
    margin-left: 10px;
    margin-bottom: -10px;
    background: whitesmoke;
    
}


  #mensajeria .cart_mensajeria .cuerpo .seccion_izquierda .circulo{
    margin-top: 5px;

    margin-left: 23%;
    background:blue;
    width: 100px;
    height: 100px; 
    border-radius: 50px;
    border: 2px solid orange;
}

 #mensajeria .cart_mensajeria .cuerpo .seccion_izquierda h3{
    
    font-size: 12px;
    text-align: center;
}

  #mensajeria .cart_mensajeria .cuerpo .seccion_derecha{
    margin-left: 210px;
    margin-top: 10px;
    width: 580px;
    height: 210px;
    
    position: absolute;
    background: white;
    margin-right: 10px;
    

}

 #mensajeria .cart_mensajeria .cuerpo .seccion_derecha p{
    text-align: justify;
    width: 600px;
    height: auto;
    font-size: 12px;
    margin-left: 10px;
}
 #mensajeria .cart_mensajeria .cuerpo .seccion_derecha h3{
    margin-left: 10px;
    color: #9c9c9c ;
    font-family: cursive;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

 #icono{
width: 15px;
height: 15px;
background-repeat:no-repeat;
padding-left:20px;


}

 .seccion_izquierda h5{
    font-size: 12px;
    margin-left: 3px;
    margin-top: -1px;
    color: #9c9c9c;
    margin-bottom: 10px;
}

  .contenedor #mensajeria .fijado{
   
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    
    z-index: 9999;


}

.contenedor #mensajeria .fijado button{
      
        margin-bottom: 120px;
        margin-left: 100px;
        background: rgb(92, 8, 202);
        color: white;
        width: 100px;
        height: 40px;;
}